<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Akin's Node Weather App</title>
	<style>
	body{
	background-color: #fff;
	}







	
	
	
	</style>
</head>
<body>
	<div>	
	<h1>Weather App</h1>
	{{getWeather "hello"}}
	<input class="weatherForm" type="form" placeholder="type in a location">
</div></body>
</html>
